In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
import random

In [3]:
df = pd.DataFrame(columns=['lat', 'lon', 'sst', 'datetime'])
df.lat = np.random.uniform(31, 33, 10000) #arguments are (lo, hi, size).  Just change hi & lo
df.lon = np.random.uniform(-118, -116, 10000)
df.sst = np.random.uniform(17, 18, 10000)
for row, index in df.iterrows:
    df.datetime.iloc[index] = datetime(2023, 11, 17, 11, 0) + timedelta(hours=random.uniform(0,4))
df.to_csv('dummy_file.csv')
df

            lat         lon        sst            datetime
0     31.798325 -117.909277  17.208393 2023-11-17 14:00:00
1     32.846060 -117.597126  17.056357 2023-11-17 14:00:00
2     31.173905 -117.141319  17.834193 2023-11-17 14:00:00
3     31.222701 -117.233813  17.851010 2023-11-17 14:00:00
4     31.693705 -116.318115  17.266188 2023-11-17 14:00:00
...         ...         ...        ...                 ...
9995  31.276272 -116.227090  17.387966 2023-11-17 14:00:00
9996  31.018565 -116.782571  17.663603 2023-11-17 14:00:00
9997  31.508533 -117.385941  17.126665 2023-11-17 14:00:00
9998  31.298757 -116.995213  17.507602 2023-11-17 14:00:00
9999  31.572753 -116.872629  17.224598 2023-11-17 14:00:00

[10000 rows x 4 columns]