In [1]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(columns=['lat', 'lon', 'sst'])
df.lat = np.random.uniform(31, 33, 10000) #arguments are (lo, hi, size).  Just change hi & lo
df.lon = np.random.uniform(-118, -116, 10000)
df.sst = np.random.uniform(17, 18, 10000)
df.to_csv('dummy_file.csv')
df.head()

         lat         lon        sst
0  31.415507 -116.834440  17.073551
1  32.720499 -117.882048  17.165569
2  32.049375 -117.103114  17.603409
3  32.075971 -116.091885  17.358443
4  31.966833 -117.017405  17.526549